body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.chart div {
        font: 10px sans-serif;
        background-color: yellow;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: black;
    }


.navbar-inverse {
    background-color: #000099;
    border-color: white;
}


.navbar-inverse .navbar-brand {
        color: white;
    }

.navbar-inverse .navbar-nav > li > a {
        color: white;
    }

.navbar-header {
    padding: 8px;
}


.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    float: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
}


.chart div {
    font: 10px sans-serif;
    background-color: yellow;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: black;
}
#map {
    height: 100%;
}

.table table-striped{
    background-color:lavender;
}
h4 {
    font-size: 40px;
    font-family: serif;
}
.body1 {
    background-image: url("../images/BEER.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.bar{
    display:flex;
}
.card-img-top{
    width:400px
}
p{
    color:black;
}