@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<br/>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    <b> <text> @Model.Message </text></b>
</p>