@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="mailto:chamidiamant@gmail.com">chamidiamant@gmail.com</a><br />
    <strong>support:</strong> <a href="mailto:tehilarashkes@example.com">tehilarashkes@example.com</a><br />
    <strong>support:</strong> <a href="mailto:hadarbruchim@example.com">hadarbruchim@example.com</a>
</address>
