@{
    ViewData["Title"] = "Home Page";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        <img src="~/images/carousel1.jpg" alt="ASP.NET" class="img-responsive" />
        <div class="carousel-caption" role="option">

        </div>
    </div>
    <div class="item">
        <img src="~/images/back1.png" alt="Visual Studio" class="img-responsive" />
        <div class="carousel-caption" role="option">

        </div>
    </div>
    <div class="item">
        <img src="~/images/carousel3.jpg" alt="Package Management" class="img-responsive" />
        <div class="carousel-caption" role="option">

        </div>
    </div>

    @*<h2>Preferred drinks of the week</h2>
        <h4>Clients preferences - just for you</h4>

        <iframe src="/Drinks/ThePreferredDrinks"  width="1600" height="900" frameborder="0"></iframe>*@
</div>




